/* CSS styles for footer */

footer {
    position: fixed;
    bottom: 0px;
    background: #00ff00;
    height: 60px;
    width: 100%;
}

p {
    position: relative;
    margin: 0px;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
}